<div class="container">
  <div class="row" *ngIf="authService.user | async as user">
    <div class="col-8 username">
      <span>{{ user.displayName }}</span>
    </div>
    <div class="col-2 avatar">
      <img class="avatar" [src]="user.photoURL">
    </div>
  </div>
  <div class="row">
    <div class="offset-1 col-10">
      <hr class="lineHr">
    </div>
  </div>
  <div class="row">
    <div class="col-12 settings">
      <span>Settings</span>
    </div>
  </div>

  <div class="row settings_menu">
    <div class="col-6">
      <span>Themes :</span>
    </div>

    <div class="col-6 dropdown">
      <button class="btn btn-success dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Theme
      </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item disabled" href="#">Disabled action</a>
        <h6 class="dropdown-header">Section header</h6>
        <a class="dropdown-item" href="#">Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">After divider action</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-4 col-2">
      <button class="btn btn-danger" (click)="onLogout()">Logout</button>
    </div>
  </div>
</div>