<div class="container">
  <div class="row" *ngIf="authService.user | async as user">
    <div class="col-12 username">
      <span>{{ user.displayName }}</span>
    </div>
    <div class="col-12 avatar">
      <img class="avatar" [src]="user.photoURL">
    </div>
  </div>
  <div class="row allSettings">
    <div class="col-12 settings"></div>
  </div>

  <div class="row settings_menu">
    <div class="col-6">
      <span>Themes :</span>
    </div>

    <div class="col-6 dropdown">
      <button class="btn btn-success dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Theme
      </button>
    </div>
    <div class="col-6">
      <span>Rank :</span>
    </div>

    <div class="col-6 dropdown">
      <span>#8 / 1569</span>
    </div>
  </div>
  <div class="row">
    <div class="offset-4 col-2">
      <button class="action-button shadow animate blue" (click)="onLogout()">Logout</button>
    </div>
  </div>
</div>