<app-title></app-title>
<div class="my-custom-container mx-auto all-auth rounded">
  <div *ngIf="afAuth.authState | async as user; else showLogin">
    <h1>Hello {{ user.displayName }} !</h1>
    <button class="action-button shadow animate blue" routerLink="/game">Go To Lobby</button>
  </div>
  <ng-template class="row mx-auto logButton" #showLogin>
    <div class="row mx-auto">
      <p class="mx-auto row">First, you need to register</p>
    </div>
    <img (click)="onLogin()" src='./assets/images/btn-google.png' alt="btn-google" />
  </ng-template>
</div>

<div class="container rules">

  <div class="row">
    <h2 class="mx-auto">Rules</h2>
  </div>
  <div class="row mx-auto">
    <div>
      <p class="mx-auto">Othello is a strategy board game played between 2 players.
        <br/> One player plays black and the other white. Each player gets 32 discs and black always starts the game.
        <br/> Then the game alternates between white and black until:</p>

      <ul class="mx-auto">
        <li>one player can not make a valid move to outflank the opponent.</li>
        <li>both players have no valid moves.</li>
      </ul>
      <p class="mx-auto">When a player has no valid moves, he pass his turn and the opponent continues. A player can not voluntarily forfeit
        his turn. When both players can not make a valid move the gane ends.</p>

      <p>for more information about the rules :
        <a class="text-center" target="_blank" href="https://www.wikihow.com/Play-Othello"> click here</a>
      </p>
    </div>
  </div>
</div>




<!-- footer -->
<footer class="footer fixed-bottom">
  <div class="container mx-auto">
    <img class="row mx-auto img-fluid auth-img" src='./assets/images/deco.png' alt=profile-img/>
    <p class="row justify-content-center mx-auto text-center">Othello Game - Open source project | &copy; Wild Code School - La Loupe - session Feb. 2018</p>
    <p class="row justify-content-center mx-auto text-center">Jonathan Avel - Jonathan Zietek - Anna Flourou</p>
  </div>
</footer>