<app-title></app-title>


<!--<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>-->
<!-- //////////////////////////////// -->

<div *ngIf="authService.user | async; then authenticated">
  <!-- template will replace this div -->
</div>

<!-- User logged in -->
<!-- <ng-template #authenticated>
  <div *ngIf="authService.user | async as user">
    <h3>Howdy, {{ user.displayName }}</h3>
    <img [src]="user.photoURL">
    <p>UID: {{ user.uid }}</p>
    <p>Favorite Color: {{ user?.favoriteColor }} </p>
    <button (click)="onLogout()">Logout</button>
  </div>
</ng-template> -->


<!-- /////////////////////////// -->
<div class="my-custom-container mx-auto all-auth rounded">
  <div class="row mx-auto">
    <p class="mx-auto row">First, you need to registrate</p>
  </div>
  <div *ngIf="afAuth.authState | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <button (click)="onLogout()">Logout</button>
  </div>
  <ng-template class="row mx-auto logButton" #showLogin>
    <img (click)="onLogin()" src='../../assets/images/btn-google.png' alt="btn-google" />
  </ng-template>
</div>

<!-- footer -->
<footer class="footer fixed-bottom">
  <div class="container mx-auto">
    <img class="row mx-auto img-fluid auth-img" src='../../assets/images/deco.png' alt=profile-img/>
    <p class="row justify-content-center mx-auto text-center">Othello Game - Open source project | &copy; Wild Code School - La Loupe - session Feb. 2018</p>
    <p class="row justify-content-center mx-auto text-center">Jonathan Avel - Jonathan Zietek - Anna Flourou</p>
  </div>
</footer>