<p class="wall_fame_title">Wall of Fame</p>
<img class="row mx-auto img-fluid auth-img" src='./assets/images/deco.png' alt=profile-img/>

<div class="container allWall">
    <table>
        <tr>
            <td class="range">#1</td>
            <td class="name col-2">AnnaBestah</td>
        </tr>
        <tr>
            <td class="range">#2</td>
            <td class="name">Kikoudu75</td>
        </tr>
        <tr>
            <td class="range">#3</td>
            <td class="name">Roger36</td>
        </tr>
        <tr>
            <td class="range">#4</td>
            <td class="name">Loulou55</td>
        </tr>
        <tr>
            <td class="range">#5</td>
            <td class="name">Conrad12</td>
        </tr>
        <tr>
            <td class="range">#6</td>
            <td class="name">Toto23</td>
        </tr>
        <tr>
            <td class="range">#7</td>
            <td class="name">Linda18</td>
        </tr>
    </table>
