@font-face {
  font-family: 'mans';
  src: url('../../assets/fonts/font-mans/mans.ttf');
}
@font-face {
  font-family: 'pacifico';
  src: url('../../assets/fonts/pacifico/pacifico.ttf');
}

.title {
  font-family: 'mans', Arial, Helvetica, sans-serif;
  font-size: 11rem;
  color: #3e2723;
  -webkit-animation-duration: 2s;
  animation-name: bounceIn;
  animation-duration: 10s;
}

