@font-face {
  font-family: 'pacifico';
  src: url('../../assets/fonts/pacifico/pacifico.ttf');
}
.chat_title {
  font-family: 'pacifico', Arial, Helvetica, sans-serif;
  margin-bottom: 2%;
  font-size: 1.7rem;
  padding-bottom: 5px;
}

.chatbox{
  max-height: 500px;
  overflow-y: scroll;
}