<p class="game_history_title">Game History</p>
<img class="row mx-auto img-fluid auth-img" src='./assets/images/deco.png' alt=profile-img/>

<div class="container allVersus">
    <div class="row">
        <p class="offset-1 col-3">Yoda99</p>
        <p class="col-3 vs">vs</p>
        <p class="col-4">TrouDuC77</p>
    </div>
    <div class="row versus">
        <p class="offset-2 col-4">40 pts</p>
        <p class="col-4">24 pts</p>
    </div>
    <div class="row versusId">
        <p class="offset-1 col-3">Kevin92</p>
        <p class="col-3 vs">vs</p>
        <p class="col-4">Samantha17</p>
    </div>
    <div class="row versus">
        <p class="offset-2 col-4">40 pts</p>
        <p class="col-4">24 pts</p>
    </div>
    <div class="row">
        <p class="offset-1 col-3">Roger28</p>
        <p class="col-3 vs">vs</p>
        <p class="col-4">Linda46</p>
    </div>
    <div class="row versus">
        <p class="offset-2 col-4">40 pts</p>
        <p class="col-4">24 pts</p>
    </div>
    <div class="row">
        <p class="offset-1 col-3">Raymonde18</p>
        <p class="col-3 vs">vs</p>
        <p class="col-4">Nigel55</p>
    </div>
    <div class="row versus">
        <p class="offset-2 col-4">40 pts</p>
        <p class="col-4">24 pts</p>
    </div>
</div>
